<!-- vi:filetype=html -->
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <script type="text/javascript" src="/static/qrcode.min.js"></script>
        <title>Status Node</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Status Node</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-text">Services:</span>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> &#x2611; Bootnode</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&#x2611; Mailserver <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">&#x2612; ETH RPC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">&#x2612; IPFS Gateway</a>
                    </li>
                </ul>
                <a class="nav-link" href="#">Logs</a>
            </div>
        </nav>
        <script type="text/javascript">
            function apply_config_override(conf) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/set", true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

                xhr.send(JSON.stringify(conf));

                xhr.onloadend = function () {
                    location.reload();
                };
            }

            function set_mailserver(enable) {
                var data = {
                    "WhisperConfig": {
                        "EnableMailServer": enable
                    }
                };
                apply_config_override(data);
            }

            function update_mailserver_password() {
                var newPassword = document.getElementById('mailserver-password').value;
                var data = {
                    "WhisperConfig": {
                        "MailServerPassword": newPassword
                    }
                };
                apply_config_override(data);
            }

            function update_max_peers() {
                var maxPeers = document.getElementById('max-peers').value;

                var data = {
                    "MaxPeers": Number(maxPeers)
                };

                apply_config_override(data);
            }

            function update_my_ip() {
                var myIP = document.getElementById('my-ip').value;

                var data = {
                    "AdvertiseAddr": myIP
                };

                apply_config_override(data);
            }

            function get_static_peers() {
                var staticPeersSearchResults = document.getElementById('static-peers').getElementsByTagName('span');

                var staticPeersList = [];

                for (var i = 0; i < staticPeersSearchResults.length; i++) {
                    staticPeersList.push(staticPeersSearchResults[i].textContent);
                }

                return staticPeersList;
            }


            function update_static_peers(staticPeersList) {
                var data = {
                    "ClusterConfig": {
                        "StaticNodes": staticPeersList
                    }
                };

                apply_config_override(data);
            }
    
            function add_static_peer() {
                var staticPeersList = get_static_peers();

                var newStaticPeer = document.getElementById('new-static-peer').value;
                staticPeersList.push(newStaticPeer);
                
                update_static_peers(staticPeersList);
            }

            function remove_static_peer(peerToRemove) {
                var staticPeersList = get_static_peers();
                update_static_peers(staticPeersList.filter(a => a != peerToRemove));
            }

            function reset_config() {
                post_and_reload("/reset");
            }

            function undo() {
                post_and_reload("/undo");
            }

            function redo() {
                post_and_reload("/redo");
            }

            function post_and_reload(path) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", path, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

                xhr.send("");

                xhr.onloadend = function () {
                    location.reload();
                };
            }

        </script>
        <div class="container" id="content-mailserver">
            <div class="row">
            <h1>Mailserver</h1>
            </div>
            <div class="row">
                <div class="btn-toolbar justify-content-between">
                    {{ if .Enabled }}
                        <div class="btn-group mr-2" role="group" aria-label="">
                            <button class="btn btn-danger" onclick="set_mailserver(false);">Stop</button>
                        </div>

                        <div class="btn-group mr-2" role="group" aria-label="">
                            <div style="margin:auto; padding-left:60px;">Config</div>
                        </div>

                        <div class="btn-group mr-2" role="group" aria-label="...">
                            <button {{ if not .UndoInfo.CanUndo }} disabled="true" {{ end }}
                                    type="button" class="btn btn-secondary" onclick="undo()">Undo</button>
                            <button {{ if not .UndoInfo.CanRedo }} disabled="true" {{ end }}
                                    type="button" class="btn btn-secondary" onclick="redo()">Redo</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="">
                            <button class="btn btn-light" onclick="reset_config()">Reset</button>
                        </div>
                    {{ else }}
                        <button class="btn btn-success" onclick="set_mailserver(true)">Start Mailserver</button>
                    {{ end }}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-1">
                    <h3>Info</h3>
                </div>
                <div class="col-4">
                    <div id="qrcode"></div>
                    <script type="text/javascript">
                        new QRCode(document.getElementById("qrcode"), "{{ .EnodeID }}");
                    </script>
                </div>
                <div class="col">
                    <code id="self-address">{{ .EnodeID }}</code>
                    <p>
                        <a href="#">How to connect my Status to this mailserver?</a>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <h3>Settings</h3>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Known Mailservers</h5>
                    <div id="peers">
                        <ul id="static-peers" class="list-group">
                             {{range .StaticPeers }}
                             <li class="list-group-item">
                                 <span style="word-wrap: break-word;">{{ . }}</span>
                                 <button class="btn btn-danger" onclick="remove_static_peer('{{.}}')">&#x2716;</button>
                             </li>
                             {{end}}
                        </ul>
                        <p />
                        <div class="input-group">
                            <input class="input-group-text" id="new-static-peer" type="text" class="text" value="" name="new-static-peer"></input>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" onclick="add_static_peer()">Add</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Max Peers</h5>
                    <input id="max-peers" type="text" class="text" value="{{ .MaxPeers }}" name="max-peers"></input>
                    <button onclick="update_max_peers()">Set</button>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>My IP</h5>
                    <input id="my-ip" type="text" class="text" value="{{ .MyIP }}" name="my-ip"></input>
                    <button onclick="update_my_ip()">Update</button>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Mailserver Password</h5>
                    <input id="mailserver-password" type="text" class="text" value="{{ .MailserverPassword }}" name="mailserver-password"></input>
                    <button onclick="update_mailserver_password()">Update</button>
                    <hr />
                </div>
            </div>
        </div>
    </body>
</html>
